*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    background-color: rgb(43, 43, 43);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap :50px;
    padding: 20px;
}

header{
    font-size: 48px;
    font-weight: 500;
    color: aquamarine;
    text-align: center;
}

main{
    display: flex;
    
    gap: 20px;
}

.div{
 display: flex;
 flex-direction: column;
 background-color: burlywood;

 align-items: center;
}

#dice-1{
     height: 500px;
     width: 500px;
     /* background-color: beige; */
     background-image: url(./images/0.png);
     background-size: cover;
}

 #dice-2{
     height: 500px;
     width: 500px;
     /* background-color: beige; */
     background-image: url(./images/0.png);
     background-size: cover;

}

button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
}

@media (max-width:900px) {
    main{
        flex-direction: column;
    }
    
}

@media (max-width:760px) {
    main{
        flex-direction: column;
    }
    
    header{
    font-size: 21px;
    font-weight: 500;
    color: aquamarine;
    text-align: center;
}

    #dice-1{
     height: 200px;
     width: 200px;
     /* background-color: beige; */
     background-image: url(./images/0.png);
     background-size: cover;
}

 #dice-2{
     height: 200px;
     width: 200px;
     /* background-color: beige; */
     background-image: url(./images/0.png);
     background-size: cover;
}